<%- include("header") -%>

<section>
  <div class="container top text-center">
    <h1 class="title">Front-end, Back-end & iOS Developer</h1>
    <h2 class="subtitle">Hello, I'm Majd and I love to code!</h2>
    <a target="_blank" href="https://github.com/majd64"><img class="shadow-lg header-img" src="images/profile.jpg" alt=""></a>
  </div>
</section>
<section>
  <%- include("about") -%>
  <%- include("iOS") -%>
  <%- include("web") -%>
</section>


<%- include("footer") -%>
